/* Topbar.css */
.topbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #006494;
  position: fixed;
  width: 100%;
}

.navigation::-webkit-scrollbar{
  height: 6px;
}

.day {
  text-align: center;
  width: 80px;
  color: darkgrey;
  pointer-events: none;
}

.navigation{
    display: flex;
    overflow: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.navigation a {
  text-decoration: none;
  display: block;

  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 10px;
}

.navigation a:not(.active):hover {
  background: #B5FED9;
  color: black;
}

.solved {
  color: white;
  pointer-events: all;
}

.active {
  font-weight: bold;
  background: #307351;
}

.arrow-button{
    background: none;
    border-radius: 50%;
    padding: 8px 15px;
}

.left-arrow{
    margin: auto 0.3rem;
}

.right-arrow{
  margin: auto 0.3rem;
}

.arrow-button:hover{
    background: #FA9F42;
}

.show-arrow{
    visibility: visible;
}

.hide-arrow{
    visibility: hidden;
}