.home-logo{
  grid-column-start: 1;
}

.home-logo img{
  width: 100%;
}

.home-text{
  grid-column-start: 1;
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.home-text a{
  color: lightblue;
  text-decoration: none;
  display: inline;
}