.sum{
    font-weight: bold;
}

.sum td{
    border-top:1px solid #555;
}

.day-1-part-1-calculation{
    grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 1rem;
}

.day-1-part-1-calculation p{
    padding-bottom: 1rem;
}

.day-1-part-2-calculation{
    grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 1rem;
}

.day-1-part-2-calculation p{
    padding-bottom: 1rem;
}

.day-1-part-1-solution{
    grid-column-start: 3;
    grid-column-end: 4;
    padding-left: 1rem;
}

.day-1-part-2-solution{
    grid-column-start: 3;
    grid-column-end: 4;
    padding-left: 1rem;
}

.day-1-part-1-solution p{
    padding-bottom: 1rem;
}