.no-background{
  background-color: inherit;
  outline: 4px solid grey;
}
.center{
  margin: auto;
}

.buttons{
  display: flex;
  justify-content: center;
}

.calculation{
  max-height: 300px;
}

.calculation::-webkit-scrollbar{
  width: 10px;
}

.code{
  max-height: 600px;
}

.part-2-calculation{
  grid-column-start: 1;
  grid-column-end: 3;
}