.no-background {
  background-color: inherit;
}

.button-border{
  border: 4px solid #FA9F42;
}

.flex-simulation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.calculation {
  max-height: 300px;
}

.calculation::-webkit-scrollbar {
  width: 10px;
}

.disabled {
  pointer-events: none;
}

#simulation {
  height: max-content;
  margin: 1rem auto;
}

#reset {
  background-image: url(./img/Reset.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 88px;
  margin: auto;
  color: white;
}
