.no-background {
  background-color: inherit;
}

.outline {
  outline: 4px solid grey;
}

.flex-center {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.calculation {
  max-height: 300px;
}

.calculation::-webkit-scrollbar {
  width: 10px;
}

.disabled {
  pointer-events: none;
}

#simulation {
  height: max-content;
  margin: auto;
}

#reset {
  background-image: url(./img/Reset.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 88px;
  margin: 10px auto;
}
